body{
    margin: 0;
}

.box{
    background-color: rgb(0, 255, 200);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
}
button:hover{
    transform: scale(0.9);
}